/*--------------------------------*\
    $BUTTONS
\*--------------------------------*/

.btn {
    background-color: $button-background-color;
    border-radius: $border-radius;
    color: $button-color;
    display: inline-block;
    font-size: $button-font-size;
    line-height: 2.5;

    &__icon {
        font-size: .6em;
    }

    &--info {
        background-color: $color-info;
    }
}